DemoSpinner/.idea/.name
DemoSpinner/.idea/compiler.xml
DemoSpinner/.idea/copyright/profiles_settings.xml
DemoSpinner/.idea/encodings.xml
DemoSpinner/.idea/gradle.xml
DemoSpinner/.idea/misc.xml
DemoSpinner/.idea/modules.xml
DemoSpinner/.idea/runConfigurations.xml
